/* ============ general ============= */
body {
    font-family: 'Helvetica-Neue', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
    overflow: hidden;
}
section {
    border: 0px solid black;
    height: 90vh;
    width: 100vw;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    box-sizing: border-box;

}

/* ============= footer ============= */
footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    background-color: #555;
    display: flex;
    flex-direction: row;
    color: white;
    height: 10vh;
    margin:0;
    box-sizing: border-box;
    font-size: 130%;
    border: 0px solid black;
    align-items: center;
}
footer {
    padding: 1em;
}

/* ============== speaker notes ============= */
aside {
    display: none;
    position: fixed;
    top: 20px;
    right: 2px;
    width: 80vw;
    margin:0;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 140%;
    padding: 1em;
    text-align: left;
}
aside blockquote {
    font-size: 100%;
}
body.display-speaker-notes section.active aside {
    display: block;
}

aside ul li {
    font-size: 100%;
}



/* ============= */

.grow {
    flex:1;
}

/* ============== images ============ */
img {
    border: 0px solid red;
    margin:0;
    width: 80%;
    height: 90%;
    object-fit: contain;
    box-sizing: border-box;
}



