/* ============ general ============= */
body {
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
    overflow: hidden;
    font-size: 0.5rem;
}

section {
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 4em;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
}

/* ============= footer ============= */
footer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #555;
    display: flex;
    flex-direction: row;
    color: white;
    height: 3em;
    margin:0;
    box-sizing: border-box;
    font-size: 130%;
    border: 0px solid black;
    padding: 1em;
    align-items: center;
}


/* ============== speaker notes ============= */
aside {
    display: none;
    position: fixed;
    top: 20px;
    right: 2px;
    width: 60vw;
    margin:0;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 140%;
    padding: 1em;
    text-align: left;
}
aside blockquote {
    font-size: 100%;
}
body.display-speaker-notes section.active aside {
    display: block;
}

#speaker-notes-control {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    padding: 1em;
}

body.display-speaker-notes #speaker-notes-control {
    display: block;
}

aside ul li {
    font-size: 100%;
}



/* ============= */

.grow {
    flex:1;
}

/* ============== images ============ */
img {
    border: 0px solid red;
    margin:0;
    width: 80%;
    height: 90%;
    object-fit: contain;
    box-sizing: border-box;
}



button {
    margin: 0em 0.5em;
}

#speaker-view {
    visibility: hidden;
}
.speaker-display #speaker-view {
    visibility: visible;
}
#speaker-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
}
.panel {
    border: 1px solid black;
}



.speaker-display section.active {
    border: 5px solid red;
    transform: translate3d(-25%,-25%,0) scale(0.5, 0.5);
}
.speaker-display section.next {
    border: 5px solid blue;
    transform: translate3d(-25%,30%,0) scale(0.4, 0.4);
}

.speaker-display #speaker-questions {
     background-color: white;
}
.speaker-display #speaker-notes {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.speaker-display #speaker-notes aside {
    display: block;
    position: relative;
    width: auto;
}