/* =========== general ============== */
/*
body {
    font-family: "TypoPRO Source Sans Pro", sans-serif;
}
h1, h2 {
    font-family: "TypoPRO Source Serif Pro", serif;
    color: #ff6d12;
    text-align: center;
}
h1 {
    font-size: 400%;
}
h2 {
    font-size: 200%;
    color: #333;
}
section > ul, div > ul {
    max-width: 80%;
    font-size: 200%;
    line-height: 1.7em;
    text-align: left;
}

pre, code {
    font-family: "TypoPRO Source Code Pro", monospace;
    color: #ff6d12;
}


a {
    color: #ff6d12;
    text-decoration: none;
    border: 1px solid #ff6d12;
    padding-bottom: 0.1em;
    border-width: 0 0 2px 0;
    font-weight: 300;
}


button {
    border: 1px solid black;
    background-color: #888;
    color: white;
}

footer {
    font-family: "TypoPRO Source Sans Pro";
    font-weight: 300;
}

blockquote {
    font-family: "TypoPRO Source Sans Pro", sans-serif;
    font-size: 200%;
    font-style: italic;
    text-align: left;
    line-height: 1.5em;
    max-width: 70%;
    position: relative;
}
blockquote:before {
    color: #ff6d12;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    left: -0.5em;
    top:0px;
    box-sizing: content-box;
}
blockquote::after{
    content: "";
}

blockquote cite {
    color: #999999;
    font-size: 80%;
    display: block;
    margin-top: 5px;
}
blockquote cite:before {
    content: "\2014 \2009";
}
*/

/* ===================== syntax highlighting ============== */


/*
pre {
    border: 1px solid black;
    text-align: left;
    font-size: 200%;
}
.hljs {
    background-color: #fdf6e3;
    border-radius: 1em;
    padding: 2em;
    max-width: 85vw;
    font-size: 200%;
}
*/

/*
.hljs {
    border: 3px solid brown;
    background-color: lightgoldenrodyellow;
    border-radius: 0.25em;
    display: block;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0.5em;
    font-family: "TypoPRO Source Code Pro", monospace;
    font-weight: normal;
    font-size: 120%;
}



.hljs-keyword {
    color: red;
    font-weight: 300;
}
.hljs-number {
    color: blue;
}
.hljs-literal, .hljs-string{
    color: #080f80;
    font-weight: bold;
    border: 1px solid #2bc2ff;
    border-radius: 5px;
    background-color: rgba(37, 237, 236, 0.34);
}
.hljs-function {
    font-weight: bold;
    color: lightblue;
}
.hljs-title {
    color: black;
}
.hljs-params {
    color: red;
    font-weight: 800;
}
.hljs-comment {
    color: #555555;
    font-style: italic;
}



*/



/* =================== slide styles ==================== */

.split-v {
    display: flex;
    flex-direction: row;
}
.split-v > div, .split-v img, .split-v > ul {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/*
section.main {
    background-color: #ff6d12;
    color: white;
}
section.main h1, section.main h2 {
    color:white;
}
section.main a {
    color: white;
}
*/



/* fonts */
body {
    font-size: 100%;
}
section {

}
h1 { font-size: 400%; }
h1 {
    position: absolute;
    left: 0em;
    right: 0em;
    top: 0em;
}

body {
    background-color: #35ab94;
    /*background-color: #00a3b8;*/
    background-image: url(https://www.transparenttextures.com/patterns/axiom-pattern.png);
}
section {
    background: none;
}

@font-face {
    font-family:  'Octanis Sans';
    src:          url('../fonts/Octanis/TTF/Octanis-Sans.ttf') format('truetype');
    font-style:   normal;
    font-weight:  400;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family:  'Octanis Sans Italic';
    src:          url('../fonts/Octanis/TTF/Octanis-SansItalic.ttf') format('truetype');
    font-style:   normal;
    font-weight:  400;
    font-stretch: normal;
    font-variant: normal;
}

h1, h2 {
    font-family: "Octanis Sans", sans-serif;
    color: white;
    text-align: center;
}
code {
    color: white;
    font-family: "Octanis Sans Italic", sans-serif;
}
